.carrossel__titulo {
    color:var(--laranja);
    background-color: var(--branco);
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {     /* ajustando tamanho das imagens no carrossel */
    width: 100%;
}

.swiper-button-prev , 
.swiper-button-next {     /* tirar setas de navegação do carrossel */
    display: none;
}

.swiper-pagination {
    position: initial;      /* ajustando posição da pagination */
    margin: 0.5em 0; 
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
    align-items: center;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.descricao__titulo_livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.botoes__item {
    margin: 0 0.5em;  
}

.botao__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 600;
    padding: 1em 2.2em;
    text-decoration: none;
    margin-top: 0.5em;
}
